{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<style>
    .card {
        width: 100%;
    }
    .user-profile-container { 
        margin: auto;
        padding-top: 5%; 
        max-width: 800px; 
        width: 95%; 
        font: 17px/1.5 sans-serif; 
    }
    /* .example-wrapper code { 
        background: #F5F5F5; padding: 2px 6px; 
    } */
    .spaced {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
    }
</style>

<main class="d-flex">
    <aside class="col-md-6 col-lg-2 d-flex flex-column">
        <div class="padding-menu">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light shadow p-3 mb-5 bg-white rounded" style="width: 280px;">
                <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                  <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                  <span class="fs-4">Sidebar</span>
                </a>
            
                <ul class="nav nav-pills flex-column mb-auto mt-5">
                  <li class="nav-item">
                    <a href="{{ path('app_profile') }}" class="nav-link active" aria-current="page">
                        {{ ux_icon('iconoir:profile-circle') }} Informations personnelles
                    </a>
                  </li>
                  <li>
                    <a href="{{ path('app_upcoming_events') }}" class="nav-link link-dark">
                        {{ ux_icon('bx:bookmark') }} Evénements à venir
                    </a>
                  </li>
                  <li>
                    <a href="{{ path('app_notifications') }}" class="nav-link link-dark">
                        {{ ux_icon('bx:bell') }} Notifications
                    </a>
                  </li>
                  <li>
                    <a href="{{ path('app_passed_events') }}" class="nav-link link-dark">
                        {{ ux_icon('bx:history') }} Historique
                    </a>
                  </li>
                </ul>
                <hr>
                <div class="dropdown">
                  <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                  </a>
                  <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </aside>

    <div class="col-md-10 ms-sm-auto col-lg-10 px-4">
        <div class="user-profile-container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-dismissible alert-success mt-4">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{ message }}
                </div>
            {% endfor %}
        
            <div class="card border-0 shadow p-3 mb-5 bg-white rounded">
              <div class="card-header bg-white border-0">
                    <h5 class="mt-3 mb-3"><strong>Informations personnelles</strong></h5>
              </div>
              <ul class="list-group list-group-flush">
                    <li class="spaced list-group-item">
                        <div class="mt-3">
                            <label for="Nom complet"><strong>Nom complet</strong></label>
                            <p id="fullNameDisplay">{{ user.fullName }}</p>
                        </div>
                        <div class="mt-3">
                            <a href="" class="edition-profile-link" data-field="fullName" data-bs-toggle="modal" data-bs-target="#editModal1">Modifier</a>
                        </div>
                    </li>
                    <li class="spaced list-group-item">
                        <div class="mt-3">
                            <label for="Adresse e-mail professionnelle"><strong>Adresse e-mail professionnelle</strong></label>
                            <p id="emailDisplay">{{ user.email }}</p>
                        </div>
                        <div class="mt-3">
                            <a href="" class="edition-profile-link" data-field="email" data-bs-toggle="modal" data-bs-target="#editModal2">Modifier</a>
                        </div>
                    </li>
                    <li class="spaced list-group-item">
                        <div class="mt-3">
                            <label for="Numéro de téléphone"><strong>Numéro de téléphone</strong></label>
                            <p id="phoneNumberDisplay">{{ user.phoneNumber }}</p>
                        </div>
                        <div class="mt-3">
                            <a href="" class="edition-profile-link" data-field="phoneNumber" data-bs-toggle="modal" data-bs-target="#editModal3">Modifier</a>
                        </div>
                    </li>
                    <li class="spaced list-group-item">
                        <div class="mt-3">
                            <label for="Mot de passe"><strong>Mot de passe</strong></label>
                            <p id="passwordDisplay">Dernière mise à jour le {{ user.updatedAt|date('d/m/Y') }}</p>
                        </div>
                        <div class="mt-3">
                            <a href="" class="edition-profile-link" data-field="password" data-bs-toggle="modal" data-bs-target="#editModal4">Modifier</a>
                        </div>
                    </li>
                    <li class="spaced list-group-item">
                        <div class="mt-3">
                            <strong><label for="Nom de l'entreprise">Nom de l'entreprise</label></strong>
                            <p id="companyDisplay">{{ user.company }}</p>
                        </div>
                        <div class="mt-3">
                            <a href="" class="edition-profile-link" data-field="company" data-bs-toggle="modal" data-bs-target="#editModal5">Modifier</a>
                        </div>
                    </li>
                    <li class="spaced list-group-item border-0">
                        <div class="mt-3">
                            <strong><label for="Fonction">Fonction</label></strong>
                            <p id="occupationDisplay">{{ user.occupation }}</p>
                        </div>
                        <div class="mt-3">
                            <a href="" class="edition-profile-link" data-field="occupation" data-bs-toggle="modal" data-bs-target="#editModal6">Modifier</a>
                        </div>
                    </li>
        
                    <!-- Modal -->
                    <div class="modal fade" id="editModal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModal1Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <h1 class="modal-title fs-5" id="editLabel"><strong>Nom complet</strong></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ form_start(forms.fullName, { 'attr': { 'id': 'fullNameForm' } }) }}
                                    {{ form_widget(forms.fullName) }}
                                    {{ form_end(forms.fullName) }}
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-secondary-outline" data-bs-dismiss="modal">Annuler</button>
                                    <button type="submit" class="btn btn-primary" form="fullNameForm" formaction="{{ path('app_profile') }}">Sauvegarder</button>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="modal fade" id="editModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModal2Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <h1 class="modal-title fs-5" id="editLabel"><strong>Adresse e-mail professionnelle</strong></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ form_start(forms.email, { 'attr': { 'id': 'emailForm' } }) }}
                                    {{ form_widget(forms.email) }}
                                    {{ form_end(forms.email) }}
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-secondary-outline" data-bs-dismiss="modal">Annuler</button>
                                    <button type="submit" class="btn btn-primary" form="emailForm" formaction="{{ path('app_profile') }}">Sauvegarder</button>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="modal fade" id="editModal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModal3Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <h1 class="modal-title fs-5" id="editLabel"><strong>Numéro de téléphone</strong></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ form_start(forms.phoneNumber, { 'attr': { 'id': 'phoneNumberForm' } }) }}
                                    {{ form_widget(forms.phoneNumber) }}
                                    {{ form_end(forms.phoneNumber) }}
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-secondary-outline" data-bs-dismiss="modal">Annuler</button>
                                    <button type="submit" class="btn btn-primary" form="phoneNumberForm" formaction="{{ path('app_profile') }}">Sauvegarder</button>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="modal fade" id="editModal4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModal4Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <h1 class="modal-title fs-5" id="editLabel"><strong>Mot de passe</strong></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ form_start(forms.password, { 'attr': { 'id': 'passwordForm' } }) }}
                                    {{ form_row(forms.password.password.first) }}
                                    {{ form_row(forms.password.password.second) }}
                                    {{ form_end(forms.password) }}
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-secondary-outline" data-bs-dismiss="modal">Annuler</button>
                                    <button type="submit" class="btn btn-primary" form="passwordForm" formaction="{{ path('app_profile') }}">Sauvegarder</button>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="modal fade" id="editModal5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModal5Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <h1 class="modal-title fs-5" id="editLabel"><strong>Nom de l'entreprise</strong></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ form_start(forms.company, { 'attr': { 'id': 'companyForm' } }) }}
                                    {{ form_widget(forms.company) }}
                                    {{ form_end(forms.company) }}
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-secondary-outline" data-bs-dismiss="modal">Annuler</button>
                                    <button type="submit" class="btn btn-primary" form="companyForm" formaction="{{ path('app_profile') }}">Sauvegarder</button>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="modal fade" id="editModal6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModal6Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <h1 class="modal-title fs-5" id="editLabel"><strong>Fonction</strong></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ form_start(forms.occupation, { 'attr': { 'id': 'occupationForm' } }) }}
                                    {{ form_widget(forms.occupation) }}
                                    {{ form_end(forms.occupation) }}
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-secondary-outline" data-bs-dismiss="modal">Annuler</button>
                                    <button type="submit" class="btn btn-primary" form="occupationForm" formaction="{{ path('app_profile') }}">Sauvegarder</button>
                                </div>
                            </div>
                        </div>
                    </div>
              </ul>
            </div>
        
            <div class="card border-0 shadow p-3 mb-5 bg-white rounded mt-4">
                <div class="card-header bg-white border-0">
                  <h5 class="mt-3 mb-3"><strong>Supprimer mon compte</strong></h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <p class="mt-3">
                        En supprimant votre compte, toutes vos données à caractère personnelle seront
                        immédiatement effacées de notre base de données.
                    </p>
                    <a href="" role="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Supprimer</a>
                  </li>
                </ul>
        
                
                <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header border-0">
                                <h1 class="modal-title fs-5" id="editLabel"><strong>Supprimer mon compte</strong></h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Etes-vous sûr(e) de vouloir supprimer votre compte ? Cette action est irréversible.
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-secondary-outline" data-bs-dismiss="modal">Annuler</button>
                                <form action="{{ path('app_delete_account') }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_account') }}">
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</main>

{% endblock %}
