{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<style>
    .user-card{
        width: 100%;
        border-radius: 45px;
    }
    .user-profile-container { 
        margin: auto;
        padding-top: 5%; 
        max-width: 800px; 
        width: 95%; 
        font: 18px/1.5 sans-serif; 
    }
    .example-wrapper code { 
        background: #F5F5F5; padding: 2px 6px; 
    }
    .spaced {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
    }
    .left-container {
        margin: auto;
        padding-top: 5%; 
        max-width: 80px; 
        width: 95%; 
        font: 18px/1.5 sans-serif; 
    }
</style>

<div class="user-profile-container">
    <div class="user-card">
      <div class="card-header">
            <h4><strong>Informations personnelles</strong></h4>
      </div>
      <ul class="list-group list-group-flush">
            <li class="spaced list-group-item">
                <div>
                    <label for="Nom complet"><strong>Nom complet</strong></label>
                    <p id="fullNameDisplay">{{ user.fullName }}</p>
                </div>
                <div>
                    <a href="{{ path('app_edit_field', {'field': 'fullName'}) }}" class="edition-profile-link" data-field="fullName" data-bs-toggle="modal" data-bs-target="#editModal">Modifier</a>
                </div>
            </li>
            <li class="spaced list-group-item">
                <div>
                    <label for="Adresse e-mail professionnelle"><strong>Adresse e-mail professionnelle</strong></label>
                    <p id="emailDisplay">{{ user.email }}</p>
                </div>
                <div>
                    <a href="{{ path('app_edit_field', {'field': 'email'}) }}" class="edition-profile-link" data-field="email" data-bs-toggle="modal" data-bs-target="#editModal">Modifier</a>
                </div>
            </li>
            <li class="spaced list-group-item">
                <div>
                    <label for="Numéro de téléphone"><strong>Numéro de téléphone</strong></label>
                    <p id="phoneNumberDisplay">{{ user.phoneNumber }}</p>
                </div>
                <div>
                    <a href="{{ path('app_edit_field', {'field': 'phoneNumber'}) }}" class="edition-profile-link" data-field="phoneNumber" data-bs-toggle="modal" data-bs-target="#editModal">Modifier</a>
                </div>
            </li>
            <li class="spaced list-group-item">
                <div>
                    <label for="Mot de passe"><strong>Mot de passe</strong></label>
                    <p id="passwordDisplay">***********************************************</p>
                </div>
                <div>
                    <a href="{{ path('app_edit_field', {'field': 'password'}) }}" class="edition-profile-link" data-field="password" data-bs-toggle="modal" data-bs-target="#editModal">Modifier</a>
                </div>
            </li>
            <li class="spaced list-group-item">
                <div>
                    <strong><label for="Nom de l'entreprise">Nom de l'entreprise</label></strong>
                    <p id="companyDisplay">{{ user.company }}</p>
                </div>
                <div>
                    <a href="{{ path('app_edit_field', {'field': 'company'}) }}" class="edition-profile-link" data-field="company" data-bs-toggle="modal" data-bs-target="#editModal">Modifier</a>
                </div>
            </li>
            <li class="spaced list-group-item">
                <div>
                    <strong><label for="Fonction">Fonction</label></strong>
                    <p id="occupationDisplay">{{ user.occupation }}</p>
                </div>
                <div>
                    <a href="{{ path('app_edit_field', {'field': 'occupation'}) }}" class="edition-profile-link" data-field="occupation" data-bs-toggle="modal" data-bs-target="#editModal">Modifier</a>
                </div>
            </li>

            <!-- Modal -->
            <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editLabel">Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        .......
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
                </div>
            </div>
      </ul>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    var editModal = document.getElementById('editModal');
    editModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget; // Button that triggered the modal
        var field = button.getAttribute('data-field'); // Extract info from data-* attributes

        // Update the modal title
        var modalTitle = editModal.querySelector('.modal-title');
        modalTitle.textContent = 'Modifier ' + field;

        // Load the form dynamically
        var modalBody = editModal.querySelector('.modal-body');
        fetch('profile/edit/' + field)
            .then(response => response.text())
            .then(html => {
                modalBody.innerHTML = html;
            });
    });
});

</script>

{% endblock %}
