{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}

    <div class="d-flex background-color-contact justify-content-center align-items-center">
        {% for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success mt-4">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
        {% endfor %}
        
        <section class="content-section">
            <h5 class="custom-title align-items-left">Lorem ipsum</h5>

            <div class="col-md-5 custom-text mt-4">
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. 
                    Vitae inceptos orci inceptos proin sollicitudin suspendisse maecenas. 
                    Turpis neque platea ipsum tempor; suscipit nunc sollicitudin pretium scelerisque.
                </p>
                <p>
                    Risus a tortor nisi mattis massa posuere sagittis. 
                    Consectetur aliquam augue conubia pretium venenatis class ex vel dolor. 
                    Inceptos ac semper nostra ornare mauris lacus interdum fusce.
                </p>
            </div>
        </section>

        
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <section class="custom-contact-form mt-5">
            <h5 class="align-items-left"><strong>Contactez-nous</strong></h5>
                <div class="col-md-5 mt-4">
                    {{ form_start(contact_form) }}
                        <div class="row mt-4">
                            <div class="form-group col md-6">
                                {{ form_label(contact_form.name) }}
                                {{ form_widget(contact_form.name) }}
                            </div>

                            <div class="form-group col-md-6">
                                {{ form_label(contact_form.firstname) }}
                                {{ form_widget(contact_form.firstname) }}
                            </div>

                        </div>

                        <div class="row mt-4">
                            <div class="form-group col-md-6">
                                {{ form_label(contact_form.email) }}
                                {{ form_widget(contact_form.email) }}
                            </div>

                            <div class="form-group col-md-6">
                                {{ form_label(contact_form.phoneNumber) }}
                                {{ form_widget(contact_form.phoneNumber) }}
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="form-group col-md-6">
                                {{ form_label(contact_form.company) }}
                                {{ form_widget(contact_form.company) }}
                            </div>

                            <div class="form-group col-md-6">
                                {{ form_label(contact_form.occupation) }}
                                {{ form_widget(contact_form.occupation) }}
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="form-group col-md-6">
                                {{ form_label(contact_form.companySize) }}
                                {{ form_widget(contact_form.companySize) }}
                            </div>

                            <div class="form-group col-md-6">
                                {{ form_label(contact_form.businessLine) }}
                                {{ form_widget(contact_form.businessLine) }}
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="form-group col-md-12">
                                {{ form_label(contact_form.message) }}
                                {{ form_widget(contact_form.message) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                {{ form_row(contact_form.submit) }}
                            </div>
                        </div>
                    {{ form_end(contact_form) }}
                </div>
        </section>
    </div>

{% endblock %}
