{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% if not is_granted('ROLE_USER') %}
        <div class="d-flex background-color-home justify-content-center align-items-center"></div>
        
        <div class="container">
            <div class="d-flex justify-content-between flex-wrap mt-4">
                <div class="col-md-1 mt-5">
                    <img class="img-home" src="https://images.pexels.com/photos/2774556/pexels-photo-2774556.jpeg?auto=compress&cs=tinysrgb&w=640&h=427&dpr=1" alt="">
                </div>

                <div class="text-h col-md-4 mt-5">
                    <h5>Lorem ipsum</h5>
                    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. 
                        Penatibus laoreet metus dis blandit gravida. 
                        Diam volutpat aptent ridiculus hendrerit ridiculus lobortis nam.
                    </p>
                    <p>
                        Mus lacus ex porttitor imperdiet venenatis. 
                        Amet quisque nascetur tortor quis, etiam ipsum eu commodo.
                    </p>
                    <p>
                        Auctor est eros auctor donec aliquet ridiculus nisi scelerisque. 
                        Accumsan viverra urna nisi mattis interdum dui consequat iaculis sodales.
                    </p>
                    
                    <a class="btn btn-primary" href="{{ path('app_registration') }}" role="button">Inscrivez-vous</a>
                </div>
            </div>
        </div>
    {% else %}
    <div class="d-flex background-color-home-bis justify-content-center align-items-center">
        <div class="container">
            <h2 class="custom-text"><strong>Pour vous</strong></h2>
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-5">
                        {% if lastEvent.file == null %}
                            <img class="img-fluid" src="{{ asset('uploads/events/'  ~ '6491439.jpg') }}" alt="{{ lastEvent.title }}" style="width: 100% ;height: 200px; object-fit: cover">
                        {% else %}
                            <img src="{{ asset('uploads/events/'  ~ lastEvent.file) }}" alt="{{  lastEvent.title }}" style="width: 100% ;height: 200px; object-fit: cover">
                        {% endif %}
                    </div>
                    <div class="col-md-7">
                        <div class="card-header bg-white border-0">
                            <h5><strong>{{ lastEvent.title }}</strong></h5>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                            </div>
                        </div>
                        <div class="card-footer bg-white border-0">
                            <p><strong>{{ lastEvent.company }}</strong></p>
                            <p class="text-center framed-schedule rounded">{{ lastEvent.date|date("d/m/Y") }} | {{ lastEvent.time|date("H:i") }}</p>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <div class="title mt-5">
        <h4 class="text-center">
            <a href="{{ path('app_all_events') }}" class="text-decoration-none" style="color: inherit;">
                <strong>Nos derniers événements</strong>
            </a>
        </h4>
    </div>

    <div class="d-flex justify-content-around gapped flex-wrap">
        {% for event in events %}
            <div class="card mt-3" style="max-width: 26rem;">
                <div class="card-header bg-white border-0">
                    {% if event.file == null %}
                        <img class="img-fluid" src="{{ asset('uploads/events/6491439.jpg') }}" alt="{{ event.title }}" style="width: 100%; height: 200px; object-fit: cover">
                    {% else %}
                        <img class="img-fluid" src="{{ asset('uploads/events/' ~ event.file) }}" alt="{{ event.title }}" style="width: 100%; height: 200px; object-fit: cover">
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h5><a href="{{ path('app_event_details', {'id': event.id}) }}" style="text-decoration: none;"><strong>{{ event.title }}</strong></a></h5>
                    </div>
                </div>
                <div class="card-footer bg-white border-0">
                    <p><strong>{{ event.company }}</strong></p>
                    <p class="float-start text-center framed-schedule rounded">{{ event.date|date("d/m/Y") }} | {{ event.time|date("H:i") }}</p>
                    <p class="float-end" style="margin-top: 0.7rem; margin-right: 0.5rem;">Inscrits : {{ event.subscribedUsers|length }}</p>
                    {% if app.user.getEventSubscription.contains(event) %}
                       <p style="margin-top: 5rem;">Vous vous êtes déjà inscrit(e)</p> 
                    {% else %}
                        <form action="{{ path('app_subscribe_event') }}" method="post">
                            <input type="hidden" name="event_id" value="{{ event.id }}">
                            {% set today = date('now') %}
                            {% if event.date < today %}
                                <button type="submit" class="btn btn-primary disabled" style="margin-top: 5rem;">S'inscrire</button>
                            {% else %}
                                <button type="submit" class="btn btn-primary" style="margin-right: 10rem;">S'inscrire</button>
                            {% endif %}         
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {# <div class="mt-5" style="margin-left: 3rem; margin-right: 3rem;">
        <h5><strong>Ils partagent leur expertise</strong></h5>
        <div class="card mt-3">
            <div class="card-body">
                Hello!
            </div>
        </div>
    </div> #}
    {% endif %} 
    
{% endblock %}
