{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% if not is_granted('ROLE_USER') %}
        <div class="d-flex background-color-home justify-content-center align-items-center"></div>
        
        <div class="container">
            <div class="d-flex justify-content-between flex-wrap mt-4">
                <div class="col-md-1 mt-5">
                    <img class="img-home" src="https://images.pexels.com/photos/2774556/pexels-photo-2774556.jpeg?auto=compress&cs=tinysrgb&w=640&h=427&dpr=1" alt="">
                </div>

                <div class="text-h col-md-4 mt-5">
                    <h5>Lorem ipsum</h5>
                    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. 
                        Penatibus laoreet metus dis blandit gravida. 
                        Diam volutpat aptent ridiculus hendrerit ridiculus lobortis nam.
                    </p>
                    <p>
                        Mus lacus ex porttitor imperdiet venenatis. 
                        Amet quisque nascetur tortor quis, etiam ipsum eu commodo.
                    </p>
                    <p>
                        Auctor est eros auctor donec aliquet ridiculus nisi scelerisque. 
                        Accumsan viverra urna nisi mattis interdum dui consequat iaculis sodales.
                    </p>
                    
                    <a class="btn btn-primary" href="{{ path('app_registration') }}" role="button">Inscrivez-vous</a>
                </div>
            </div>
        </div>
    {% else %}
    <div class="d-flex background-color-home-bis justify-content-center align-items-center">
        <div class="container">
            <h2 class="custom-text"><strong>Pour vous</strong></h2>
            <div class="card">
                <div class="card-header bg-white border-0">
                    <h5 class="float-start mt-3"><strong>{{ lastEvent.title }}</strong></h5>
                    <p class="float-end mt-3">{{ lastEvent.company }}</p>
                </div>
                <div class="card-body">
                  <p class="card-text">{{ lastEvent.description|raw }}</p>
                </div>
                <div class="card-footer bg-white border-0">
                    <p>{{ lastEvent.date|date("d/m/Y") }} | {{ lastEvent.time|date("H:i") }}</p>
                </div>
              </div>
        </div>
    </div>
    <div class="container">
        <div class="title mt-5">
            <h4 class="text-center"><strong>Nos derniers événements</strong></h4>
        </div>

        <div class="d-flex justify-content-around flex-wrap">
            {% for event in events %}
                <div class="card shadow-lg  border-0 mt-5" style="max-width: 25rem;">
                    <div class="card-header bg-white border-0">
                        <h5 class="float-start mt-3"><strong>{{ event.title }}</strong></h5>
                        <p class="float-end mt-3">{{ event.company }}</p>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p>{{ event.description|raw }}</p>
                        </div>
                    </div>
                    <div class="card-footer bg-white border-0">
                        <p>{{ event.date|date("d/m/Y") }} | {{ event.time|date("H:i") }}</p>
                        {% if app.user.getEventSubscription.contains(event) %}
                           <a href="#" class="btn btn-primary disabled">Vous vous êtes déjà inscrit(e)</a> 
                        {% else %}
                            <form action="{{ path('app_subscribe_event') }}" method="post">
                                <input type="hidden" name="event_id" value="{{ event.id }}">
                                <button type="submit" class="btn btn-primary">S'inscrire</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %} 
    
{% endblock %}
